name: Main build

on:
  push:
    branches: [ 'main' ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    name: build
    steps:
      - name: Check out repo
        uses: actions/checkout@v2

      - name: Set up java
        uses: actions/setup-java@v1
        with:
          java-version: 16

      - name: Build
        run: mvn -B -ntp clean package

      - name: Deploy
        run: mvn -B -ntp -s .github/settings.xml deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: target/chromeshot-*-simple.zip


  done:
    name: done
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: done
        run: echo 'all builds passed'
