name: Main build

on:
  pull_request:
    branches: [ '*' ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    name: build
    steps:
      - name: Check out repo
        uses: actions/checkout@v2

      - name: Set up java
        uses: actions/setup-java@v1
        with:
          java-version: 16

      - name: Build
        run: mvn -B -ntp clean package

